.git
.gitignore
.dockerignore
.idea
.env
.circleci
node_modules
vendor
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
docker/Dockerfile
docker/*.yml
docker/*.env
tests
load_tests
reports
#scripts
README.md
phpunit.xml
build_number.txt
