.dataTables_wrapper {
    padding: 1em;
}

.table .alert {
    margin-bottom: 0;
}

.carbon-tax-saved span {
    font-size: 3em;
}

.carbon-tax-nothing-saved {
    margin-bottom: 2.5em;
}

.table .start-of-driver-data {
    border-left: 1px solid #DDD;
}

.table .carona {
    cursor: pointer;
}

.table .carona.loading {
    cursor: progress;
}