body {
    background-color: #3b444b;
}

.copyright {
    color: #7F8D98;
    text-align: center;
}

.navbar {
    border-radius: 0;
}
.navbar-brand {
    padding: 0;
}
.navbar-brand img {
    height: 100%;
}
.navbar-header .navbar-text {
    font-size: 31px;
    height: 50px;
    margin: 0 15px;
    line-height: 50px;
}

.panel-heading .title {
    vertical-align: middle;
    font-size: 1.8em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
}